.list__item.harvest__timer
  padding-top 12px
  min-height 40px

.harvest
  width 100%
  height 100%
  display inline-block

  .running-timer
    margin 2vmin

    .timer-info
      width 100%
      color #7e9ebc

    .username
      width 100%
